<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<mappers>
		<!--加载xml映射文件-->
		<!--<mapper resource="classpath:com.fwone.mapper/*.xml"/>-->
		<!--加载mapper-->
		<package name="com.lei.mapper"/>
	</mappers>
</configuration>

