<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
  http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"  metadata-complete="false">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      classpath:spring-application.xml
      classpath:spring-mvc.xml
      classpath:mybatis.xml
    </param-value>
  </context-param>

  <!-- springmvc的前端控制器 -->
      <servlet>
        <servlet-name>springMvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
          <description>springmvc</description>
          <param-name>contextConfigLocation</param-name>
          <param-value>classpath:spring-application.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
      </servlet>
      <servlet-mapping>
        <servlet-name>springMvc</servlet-name>
        <url-pattern>/</url-pattern>
      </servlet-mapping>





</web-app>
